#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh  $@

# Ubuntu 26.04 has no prebuilt lcl-qt6, but lazbuild compiles the Qt6 LCL
# interface from lazarus-src; pin WS=qt6 to match libqt6pas in debian/control.
override_dh_auto_build:
	dh_auto_build -- WS=qt6

# The Makefile treats DESTDIR as the install prefix (datadir = $(DESTDIR)/share/cqrlog),
# so dh's plain DESTDIR=debian/cqrlog would put files under /share and /bin.
override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/cqrlog/usr
