[Desktop Entry]
Name=CQRLOG
Comment=Advanced logging program for hamradio operators
Exec=cqrlog
Terminal=false
Type=Application
Icon=cqrlog
Categories=Utility;Database;HamRadio
Keywords=Ham;Radio;Log;

