[Desktop Entry]
Name=CQRLOG
Comment=Advanced logging program for hamradio operators
Exec=cqrlog
Terminal=false
Type=Application
Icon=cqrlog
Categories=Network;HamRadio
Keywords=Ham;Radio;Log;cqrlog;

